{% extends 'base.html.twig' %}

{% block title %}Edit Table{% endblock %}

{% block body %}
    <div class="max-w-6xl mx-auto p-6 bg-white shadow-md rounded-lg">
        <h1 class="text-3xl font-semibold mb-6 text-center">Edit Table</h1>

        <div class="mb-6 flex justify-center">
            <div class="w-full max-w-4xl">
                {{ include('table/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>

        <div class="mt-6 flex justify-center">
            <a href="{{ path('app_table_index') }}" class="flex bg-blue-600 text-white px-6 py-2 rounded-md hover:bg-blue-500 items-center justify-center space-x-2 w-max">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                </svg>
                Back to list
            </a>
        </div>

        <div class="mt-6 text-center hover:text-red-700 hover:fill-red-700 flex items-center justify-center space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"></path>
            </svg>
            {{ include('table/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
